@import "tailwindcss";

:root {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Loader {
  z-index: 10; /* Priorità adeguata */
  position: absolute; /* Sovrapponi correttamente */
  pointer-events: none; /* Non interferire con l'interazione */
}

@theme {
  --color-terra: #b63a25;
}
